<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963699063042-03dbh8jk0ir0g248lnq3kneq8qd775e5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963699063042-03dbh8jk0ir0g248lnq3kneq8qd775e5</string>
	<key>API_KEY</key>
	<string>AIzaSyAsT7H1aYi-T7SrQi2y4HXC-rWnHHtKsmI</string>
	<key>GCM_SENDER_ID</key>
	<string>963699063042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.utifeederFlutter</string>
	<key>PROJECT_ID</key>
	<string>fyp-v1-b47cd</string>
	<key>STORAGE_BUCKET</key>
	<string>fyp-v1-b47cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963699063042:ios:4de4010e8456e2e9ef2a1b</string>
	<key>DATABASE_URL</key>
	<string>https://fyp-v1-b47cd-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>